CF_DNS_API_TOKEN = '<API TOKEN>'
COUCHDB_USER = '<COUCHDB USER>'
COUCHDB_PASSWORD = '<COUCHDB PASSWORD>'
COUCHDB_SERVER = 'https://obsidian.kaldisberzins.com'
POSTGRES_USER = '<POSTGRES USER>'
POSTGRES_PASSWORD = '<POSTGRES PASSWORD>'
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tmcdb?schema=public"
OPENAI_API_KEY = '<OPENAI API KEY>'